.service-list {
    border: 1px solid lightgrey;
    width: 330px;
    padding: 1px;
    margin-bottom: 20px;
}

.info {
    margin-top: 15px;
}

.service-list img{
    width: 330px;
    height: 220px;
}